<div class="container">
    <div class="row justify-content-between">
        <div class="col-3 card w-25 m-5 input p-2">
            <label for="input" class="h6">Input file: *</label>
            <input #fileUpload type="file" (change)="importData($event)" accept=".csv, .xlsx" required>
            <label for="input" class="h6 mt-2">Previous Secret Santa file: </label>
            <input type="file" (change)="previousSecret($event)" accept=".csv, .xlsx">
            <button class="btn btn-primary mt-2" (click)="excelToJson($event)" [disabled]="importBtn">Upload</button>
        </div>
        <div class="col-3 card m-5 output p-2">
            <label for="filename" class="h6 mt-auto">File Name for Excel file output: </label>
            <input type="text" [(ngModel)]="fileName" class="form-control" placeholder="result" defaultValue="result">
            <button class="btn btn-success mt-auto" (click)="downloadFile($event)" [disabled]="downloadBtn">Download</button>
        </div>
    </div>
</div>
